a {
  border: none;
  background-color: #1B1D1F;
  color: #FEF7EE;
  width: 130px;
  cursor: pointer;
  text-align: center;
  padding: 10px 0px;
  border-radius: 7px;
}
a:hover {
  background-color: #6F757C;
}
