.bg-body {
  background-image: url('./assets/bg-cafe.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #111315;
  display: flex;
  justify-content: center;
  align-items: center;

}
.container-list-coffee {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 80vw;
  padding-top: 3em;
  padding-bottom: 6em;
  padding-inline: 12em;
  color: #FEF7EE;
  gap: 2.0em;
}

.container-xl {
  margin-top: 15em;
  background-color: #1B1D1F;
  border-radius: 14px;
  margin-bottom: 12em;
}
.container-btn {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1.5em;
}
.popular-tag {
  position: absolute;
  z-index: 1;
  background-color: #F6C768;
  color: #1B1D1F;
  font-size: .7rem;
  border-radius: 10px;
  padding: 3px 12px;
  left: 10px;
  top: 10px;
}